@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #ac2c37;
    --color-secondary: #e6e6e6;
    --color-background: #f5f5f5;
    --font-electrolize: "Electrolize", serif;
}